*{
  margin: 0px;
  padding: 0px;
  outline: none;
}
.login{
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
  background-color:rgb(238, 219, 199);
  padding: 30px 0px;
 border-radius: 3%;

}
.logincon{
  width: 100%;
  height: 100vh;
  background-color:whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login input{
  width: 80%;
  height: 40px;
  border: none;
  border-bottom: 2px solid ;
}
.login button{
  height: 50px;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bolder;
  width: 20%;
  background: rgb(238, 158, 100);
  border: 2px ridge gray;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  
}
.login a{
  text-decoration: none;
  color: blue;

}
.login a:hover{
  text-decoration: underline;
  color: rgb(224, 15, 81);
  
}
nav{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 10vh;
  background-color: rgb(114, 134, 178);
  font-size: 25px;
  align-items: center;
}
nav a{
  text-decoration: none;
  color: white;
}
nav a:hover{
  color: darkorchid;

}

.con{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap:20px;
  padding: 20px 0px;
  background-color: rgb(255, 255, 255);
}
.prod{
  width: 20%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:5px;
  border-radius: 5%;
  background-color: rgb(238, 219, 199);
  border: 2px outset rgb(99, 63, 5);
}
.img{
  width: 100px;
  height: 100px;
}
.img img{
  width: 100%;
  height: 100%;
  border-radius:5%;
}
p{
  font-size: 15px;
  text-align: justify;
  color: crimson;
}
button{
    
    width: 40%;
    padding: 10px;
    background: transparent;
    border: 2px ridge gray;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    
  
}
button:hover {
  background-color:chocolate;
}
.clr button{
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  background-color:rgb(238, 158, 100);
}
.clr button:hover{
  background-color:chocolate;
}
